
body{
  background: #f1192b;
  background: -webkit-linear-gradient(to right, #ff5f6d, #eee4d6);
  background: linear-gradient(to right, #ff5f6d, #eae3d9);
  min-height: 100vh;
  text-align: center;
  padding:5%;
}

#Greetings{
  background: #11f10d;
  background: -webkit-linear-gradient(to right, #11f10d, #eee4d6);
  background: linear-gradient(to right, #11f10d, #eae3d9);
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:20rem;
  font-family: 'Bowlby One SC', cursive;
  font-size: 25.5vw;
  color:#eae3d9;
}
.container{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height:500px;
  background-repeat: no-repeat;
  background-color: rgb(174, 103, 241);
  background-image: url("images/tree.gif");
  position: sticky;
}
.form,.form-label{
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
  background-color: antiquewhite;
}
#submit{
  width:100%;
}
.card2{
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
  background-color: #ff5f6d;
  border: 2px solid wheat;
  height:500px;
  overflow:scroll;
  img { 
    float: left;
    width:30%;
  } 

  p { 
    text-align: justify; 
    font-size: 25px;
    margin-right: 50px; 
  } 
}
